:root
{
    --color-background1: #FFFFFF;
    --color-background2: #F0F0F0;
    --color-border-dark: #7D7D7D;
    --color-border-light: #D0D0D0;
    --color-accent1: #000000;
    --color-accent2: #3752B2;
    --color-default-text: #121212;
    --color-subdued-text: rgba(18, 18, 18, 0.75);
    --color-inverse-text: #FFFFFF;;

    --font-weight: 400;

    --root-font-size: 1em;

    --font-size-small: calc(1.3 * var(--root-font-size));
    --font-size-medium: calc(1.4 * var(--root-font-size));
    --font-size-large: calc(1.6 * var(--root-font-size));
    --font-size-h-small: calc(1.8 * var(--root-font-size));
    --font-size-h-medium: calc(2.4 * var(--root-font-size));
    --font-size-h-large: calc(4 * var(--root-font-size));
    --font-size-h-exlarge: calc(5.2 * var(--root-font-size));

    --heading-line-height: 1.3;

    --letter-spacing-2: 0.02em;
    --letter-spacing-3: 0.03em;
    --letter-spacing-4: 0.04em;
}
